.home{
    padding: 60px 0;
}
.search-output {
    padding: 60px 120px;
    @media (max-width: 768px) {
        padding: 60px;
    }
    @media (max-width: 576px) {
		padding: 60px 30px;
	}
    @media (max-width: 420px) {
        padding: 60px 15px;
    }
    .best{
        margin-bottom: 30px;
    }
}
.actions {
    width: 100%;
    input {
        width: 100%;
        border-radius: 99999px;
        border: 1px solid var(--primary-grey);
        height: 60px;
        padding: 5px 50px;
        &:focus {
            outline: none;
        }
    }
}
